body {
    background-color: #202125;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

* {color: #f7f7f7;}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

label {
    font-size: 18px;
}

.bg-dark {
    background-color: #121214 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f7f7f7;
}

.navbar-dark .navbar-nav .nav-link img {
    width: 30px;
}

.navbar-dark .navbar-nav .nav-link img:hover {
    opacity: 50%;
}

footer {
    text-align:center;
    padding: 10px 15px;
    font-size: 14px;
}

.content-wrapper {
    padding: 20px 30px;
    flex: 1;
}